<div>
  <a href="{{ "/" | absolute_url}}">
    {% if site.portfolio_image_dark and site.dark_mode %}
    <img class="light" src="{{site.url }}/{{ site.portfolio_image }}" alt="{{ site.title }}" />
    <img class="dark" src="{{site.url }}/{{ site.portfolio_image_dark }}" alt="{{ site.title }}" />
    {% else %}
    <img src="{{site.url }}/{{ site.portfolio_image }}" alt="{{ site.title }}" />
    {% endif %}
  </a>
</div>
<nav class="menu">    
      
      
      {% for c in site.collections %}
        {% if c.label != "posts" %}
          <a href="{{ c.label | absolute_url}}">{{ c.name }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    